@import 'basscss';

:root {

    /*Colors*/
    --primary-color: #2196f3;
    --primary-color-light: #6ec6ff;
    --primary-color-dark: #0069c0;
    --secondary-color: #f50057;
    --secondary-color-light: #ff5983;
    --secondary-color-dark: #bb002f;
    /*--background-color: #E3F2FD;*/
    --background-color: #fafafa;
    --card-color: #ffffff;
    --primary-text-light: #fff;
    --secondary-text-light: rgba(255, 255, 255, 0.7);
    --disabled-text-light: rgba(255, 255, 255, 0.5);
    --divider-light: rgba(255, 255, 255, 0.12);
    --primary-text-dark: rgba(0, 0, 0, 0.87);
    --secondary-text-dark: rgba(0, 0, 0, 0.54);
    --disabled-text-dark: rgba(0, 0, 0, 0.38);
    --divider-dark: rgba(0, 0, 0, 0.12);

    /*Dimensions*/
    --horizontal-margin: 16px;

    /*Font*/
    --font-family: Roboto, sans-serif;
    --display-4-size: 112px;
    --display-4-weight: 300;
    --display-3-size: 56px;
    --display-3-weight: 400;
    --display-2-size: 45px;
    --display-2-weight: 400;
    --display-size: 34px;
    --display-weight: 400;
    --headline-size: 24px;
    --headline-weight: 400;
    --title-size: 21px;
    --title-weight: 500;
    --subheader-size: 17px;
    --subheader-weight: 400;
    --body-size: 15px;
    --body-2-weight: 500;
    --body-weight: 400;
    --caption-size: 13px;
    --caption-weight: 400;
    --button-size: 15px;
    --button-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('http://fonts.gstatic.com/s/roboto/v16/5YB-ifwqHP20Yn46l_BDhA.eot');
    src: url('http://fonts.gstatic.com/s/roboto/v16/5YB-ifwqHP20Yn46l_BDhA.eot?#iefix') format('embedded-opentype'),
    local('./font/Roboto'),
    local('./font/Roboto-regular'),
    url('http://fonts.gstatic.com/s/roboto/v16/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2') format('woff2'),
    url('http://fonts.gstatic.com/s/roboto/v16/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff') format('woff'),
    url('http://fonts.gstatic.com/s/roboto/v16/zN7GBFwfMP4uA6AR0HCoLQ.ttf') format('truetype'),
    url('http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v16#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url('http://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot');
    src: url('http://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#iefix') format('embedded-opentype'),
    local('./font/Roboto Bold'),
    local('./font/Roboto-700'),
    url('http://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2') format('woff2'),
    url('http://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff') format('woff'),
    url('http://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf') format('truetype'),
    url('http://fonts.gstatic.com/l/font?kit=d-6IYplOFocCacKzxwXSOJbd9NUM7myrQQz30yPaGQ4&skey=c06e7213f788649e&v=v16#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('http://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot');
    src: url('http://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#iefix') format('embedded-opentype'),
    local('./font/Roboto Light'),
    local('./font/Roboto-300'),
    url('http://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2') format('woff2'),
    url('http://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff') format('woff'),
    url('http://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf') format('truetype'),
    url('http://fonts.gstatic.com/l/font?kit=Hgo13k-tfSpn0qi1SFdUfZbd9NUM7myrQQz30yPaGQ4&skey=11ce8ad5f54705ca&v=v16#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('http://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot');
    src: url('http://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot?#iefix') format('embedded-opentype'),
    local('./font/Roboto Medium'),
    local('./font/Roboto-500'),
    url('http://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2') format('woff2'),
    url('http://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff') format('woff'),
    url('http://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf') format('truetype'),
    url('http://fonts.gstatic.com/l/font?kit=RxZJdnzeo3R5zSexge8UUZbd9NUM7myrQQz30yPaGQ4&skey=ee881451c540fdec&v=v16#Roboto') format('svg');
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

h1 {
    font-size: var(--display-3-size);
    font-weight: var(--display-3-weight);
    letter-spacing: -0.01em;
    margin-top: 32px;
    margin-bottom: 0;
}

h2 {
    font-size: var(--display-2-size);
    font-weight: var(--display-2-weight);
    letter-spacing: -0.005em;
    margin-top: 16px;
    margin-bottom: 0;
}

h3 {
    font-size: var(--display-size);
    font-weight: var(--display-weight);
    letter-spacing: 0em;
    margin-top: 16px;
    margin-bottom: 0;
}

h4 {
    font-size: var(--headline-size);
    font-weight: var(--headline-weight);
    letter-spacing: 0em;
    margin-top: 8px;
    margin-bottom: 0;
}

h5 {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    letter-spacing: 0em;
    margin-top: 16px;
    margin-bottom: 0;
}

h6 {
    font-size: var(--subheader-size);
    font-weight: var(--subheader-weight);
    letter-spacing: 0.005em;
    margin-top: 16px;
    margin-bottom: 0;
}

p {
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    letter-spacing: 0.01em;
    margin-top: 5px;
    margin-bottom: 0;
}

p.menu {
    font-size: var(--body-size);
    font-weight: var(--body-2-weight);
    letter-spacing: 0.01em;
    margin-top: 5px;
    margin-bottom: 0;
}

.caption {
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    color: var(--secondary-text-light);
    letter-spacing: 0.02em;
    margin-top: 5px;
    margin-bottom: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*overflow: hidden;*/
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

#main-content {
    /*flex-basis: 65%;*/
    background-color: var(--primary-color);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    border-radius: 0;
    height: 100%;
    z-index: 1200;
    transform: translate(0px, 0px);
    overflow: auto;
}

#main-content {
    color: var(--primary-text-light);
}

#main-content h1 {
    color: var(--secondary-text-light)
}

#main-content h2 {
    color: var(--primary-text-light)
}

#main-content h3 {
    color: var(--secondary-text-light)
}

#main-content h4 {
    /*color: var(--secondary-text-light);*/
}

#main-content h5 {
    /*color: var(--secondary-text-light);*/
}

#main-content h6 {
    /*color: var(--secondary-text-light);*/
}

#main-content .divider {
    background-color: var(--divider-light);
}

#main-content p.caption {
    color: var(--secondary-text-light);
}

#main-content .link span {
    color: var(--secondary-text-light);
}

#main-content a {
    color: var(--secondary-text-light);
}

#main-content > div {
    margin-top: 16px;
}

#summary {
    padding-top: var(--horizontal-margin);
}

#summary h3 {
    margin-top: 0;
}

#summary img {
    border: 2px solid var(--primary-text-light);
    object-fit: cover;
    width: 120px;
    height: 120px;
}

#experience-content {
    background-color: var(--background-color);
    color: var(--primary-text-dark);
}

.card {
    padding: var(--horizontal-margin);
    background-color: var(--card-color);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    border-radius: 2px;
    height: 100%;
    z-index: 1000;
    transform: translate(0px, 0px);
    overflow: auto;
}

#experience-content h2 {
    color: var(--secondary-text-dark)
}

#experience-content h4 {
    /*color: var(--secondary-text-light);*/
}

.contact-item {
    margin-top: 5px;
}

.contact-item > img {
    padding-top: 0;
    padding-bottom: 0;
}

.contact-item > a {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

p.caption {
    color: var(--secondary-text-dark);
}

p.caption:first-of-type + h5, h6 {
    margin-top: 8px;
}

.link span {
    color: var(--secondary-text-dark);
}

.divider {
    height: 1px;
    background-color: var(--divider-dark);
}

.details {
    margin-top: 16px;
}

.center {
    text-align: center;
}

.center img {
    display: block;
    margin: auto;
}

.round {
    border-radius: 50%;
}

img.round {
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    #main-content {
        /*flex-basis: 100%;*/
        background-color: var(--background-color);
        color: var(--primary-text-dark);
        padding: 0;
        transition: 0s;
        box-sizing: content-box;
        /*-webkit-tap-highlight-color: initial;*/
        box-shadow: none;
        border-radius: 0;
        height: auto;
        z-index: auto;
        transform: none;
        overflow: visible;
    }

    #main-content h1 {
        color: var(--secondary-text-dark)
    }

    #main-content h2 {
        color: var(--primary-text-dark)
    }

    #main-content h3 {
        color: var(--secondary-text-dark)
    }

    #main-content h4 {
        /*color: var(--secondary-text-light);*/
    }

    #main-content h5 {
        /*color: var(--secondary-text-light);*/
    }

    #main-content h6 {
        /*color: var(--secondary-text-light);*/
    }

    #main-content .divider {
        background-color: var(--divider-dark);
    }

    #main-content p.caption {
        color: var(--secondary-text-dark);
    }

    #main-content .link span {
        color: var(--secondary-text-dark);
    }

    #main-content a {
        color: var(--secondary-text-dark);
    }
}

@media only screen and (min-width: 768px) {
    /* For large screens: */
    .card {
        padding: 0;
        background-color: transparent;
        transition: 0s;
        box-sizing: content-box;
        /*-webkit-tap-highlight-color: initial;*/
        box-shadow: none;
        border-radius: 0;
        height: auto;
        z-index: auto;
        transform: none;
        overflow: visible;
    }
}
